@import url(./assets/web-fonts/css/style.css);
*{
    margin: 0;
    padding: 0;
    list-style: none;

}
:root{
    --bodycolor:#eef2ff;
    --headercolor:#e2e8f0;
    --color:#5b21b6;
    --border:#9e7dd1;
    --red:#ef4444;
    --mainwhite:#fff;
    --blackcolor:#000;
}
body{
    display: flex;
    flex-direction: column;
    width:100%;
    
    background-color: var(--bodycolor);
    font-family: 'iranyekan';
}
header{
    width: 100%;
    background-color: var(--headercolor);
    
}
.container{
    max-width: 1500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    margin: 0 auto;
}
.menu{
    cursor: pointer;
    font-weight: bold;
    color:var(--color);
    font-size: 1.4rem;
}
.shopping-cart{
    cursor: pointer;
    font-weight: bold;
    color: var(--color);
    position: relative;
    font-size: 1.4rem;
}
.cart-counter{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    width: 18px;
    height: 18px;
    background-color: var(--red);
    border-radius: 100%;
    position: absolute;
    top:-10px;
    right:-5px;

}
.total-price{
    font-weight: bold;
}
h1{
   text-align: center;
   margin: 3rem 0;
   font-size: 2rem;
}
.item{
    display: flex;
    flex-direction: column;
    background-color: var(--mainwhite);
    border-radius: 20px;
    justify-content: space-between;
   

}
.decription{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top:0;
}
.content{
    max-width: 1100px;
    padding: 5px;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows:repeat(2,300px) ;
    grid-column-gap:4rem;
    grid-row-gap: 3rem;
    margin:20px auto;
}
.content img{
   width:100%;
   height: 60%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
.item button{
    margin: 0.5rem auto;
    border: none;
    padding: 10px 20px;
    color: var(--color);
    font-weight:bolder;
    background-color: var(--headercolor);
    border-radius: 10px;
    cursor: pointer;
    
}
.item-price{
    color: var(--color);
    font-weight: bold;
}
/*shopping cart--*/
.backdrop{
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:rgba(1,1,1,0.5) ;
    z-index:1;
    transition: all 0.5s ease-in-out;
    
}

.cart-container{
    position:absolute;
    top: 30%;
     left:30%;
    width:50%;
    height: 40%;
    background-color: #fff;
    z-index:9999;
    border-radius: 10px;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    
}
.cart-container h3{
    text-align: center;
}
.cart-items{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
     align-items: center;
    flex:1;
    margin-bottom: 2rem;
    
}
.cart-item{
    width: 100%;
    height:80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2px;
    padding-left:5px;
    margin: 10px 0;
    
}
.cart-image{
   height:100%;
   width: 30%;
   border-radius: 5px;
}
.description-item{
  width:40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.cart-up-down{
    width: 20%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fa-chevron-up{
    cursor: pointer;
}
.fa-chevron-down{
    cursor: pointer;
    color: var(--red);
}
.trash{
    width:10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-price{
    color: var(--color);
    font-size: 1rem;
    width:100%;
    text-align: center;
}
.cart-name{
    font-size: 1rem;
    width:100%;
    text-align: center;
}

.fa-trash-alt{
    cursor: pointer;
}
.cart-footer{
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: center;
    
}
.btn{
    color: var(--color);
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    
}
.cart-confirmed{
    border: none;
    
}
.cart-clear{
    border: 2px solid;
    border-color:var(--border);
    background-color: var(--mainwhite);
}
@media screen and (max-width: 537px){
    .cart-price{
        color: var(--color);
        font-size: 10px;
        width:100%;
        text-align: center;
    }
    .cart-name{
        font-size: 10px;
        width:100%;
        text-align: center;
    }
    .fa-chevron-up{
        cursor: pointer;
        font-size: 8px;
    }
    .fa-chevron-down{
        cursor: pointer;
        color: var(--red);
        font-size: 8px;
    }
    .counter{
        font-size: 8px;
    }
    .fa-trash-alt{
        cursor: pointer;
        font-size: 10px;
    }
    .total-price{
        font-size: 10px;
    }
    .cart-clear{
        width:40px;
        font-size: 8px;
        padding: 5px 4px;
        font-weight: bold;
        cursor: pointer;
    }
    .cart-confirmed{
        width:40px;
        font-size: 6px;
        padding: 6px 6px;
        font-weight: bold;
    }
    .btn{
        margin-left:5px;
        
        
    }
    
      

}


